<!DOCTYPE html>
<html lang="en" id="htmlIndex">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Main Page</title>
</head>
<body id="bodyIndex">
    <div id="containerIndex">
        <a href="/register" class="badge badge-secondary right">Register</a>
        <a href="/login" class="badge badge-secondary right">Login</a>
        <h1>In<span id="touch">Touch</span></h1>
    </div>

</body>
</html>